<div class="container__big-card">
    <div class="big-card__img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdV3bcu8Nca2ukYv4I_9kKXzwxHCL6tQdE-5lpXFXyHJB7u9crv2PSDIDMNaLp6Lfkpus&usqp=CAU" alt="" height="270px" >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                tanto faz oque vai aqui por enquanto
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore laborum voluptate rerum eum culpa quia fuga similique, deleniti, magnam magni veritatis qui. Fuga consequuntur repellat tenetur nisi suscipit, minima laboriosam!
            </a>
        </p>
    </div>
</div>